<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>AppTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Currencies.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CurrencyPreview.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Networking.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>NetworkingTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>81ECD9C4715F4B7F5E4DF21B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CFCF92174E16FCAB6FA625B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93E9E330FC2CE7458D9C925F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99DCC7BD0ABB09C467644299</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C460F2384F904D87838B32F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C713BF78D6178559985F26CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEE61BA1EFBEE2B0B0864928</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
